ul {
    list-style: none;
    display: inline;
}

hr {
    background-color: #2e6da4;
    height: 1px;
    border: 0
}

i.large-icon {
    font-size: 20px;
}

.navbar-default {
    background-color: #337ab7;
    color: #ffffff;
    font-size: larger;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #EEE;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.navbar-default .navbar-nav>li {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.navbar-default .navbar-nav>li:hover {
    background-color: #1E64A1;
}

.navbar-default .navbar-nav>li:hover>a {
    color: #F5E00C;
}

.header-el {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.row {
    padding: 5px;
    margin: 0;
}

.row:nth-child(even) {
    background-color: #eee
}

input[type='text'], textarea {
    width: 500px;
}

textarea {
    height: 100px;
}

textarea[id='pictureurl'] {
    height: 80px;
}

.message {
    font-size: larger;
    color: red;
    text-align: center;
}

.v-middle {
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
}

.user-profile {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.user-profile .user-name {
    display: inline;
}

li.user-name {
    padding-top: 10px;
}

.user-profile .user-image img {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    float: right;
}

li.user-image {
    padding-right: 10px;
}

.text-center {
    text-align: center;
}

.pagination .btn {
    padding: 2px 5px;
}

.puppy-image {
    width: 85px;
    height: 80px;
}

ul.form-error {
    padding: 0;
}

ul.form-error li {
    color: red;
}

.page-error {
    color: red;
}

.form-label {
    text-align: right;
}

.form-label label {
    text-align: right;
}

.adminuser {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 8px;
}

.adminuser i {
    font-size: 27px;
}

.row.login-row {
    padding-top: 10px;
}

.bold {
    font-weight: bolder;
}

img.item-pic-small {
    width: 150px;
    height: auto;
    margin-top: 5px
}

img.item-pic-large {
    width: 25%;
}

.align-center {
    text-align: center;
}

.text-success {
    font-size: 25px;
}

.text-danger {
    font-size: 25px;
}

.item-details {
    position: absolute;
    top: 0px;
    left: 150px;
}

.catalog-item {
    min-height: 200px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.catalog-item:hover {
    background-color: #fff;
    box-shadow: 2px 2px 5px 1px #666;
}

ul.left-nav-ul li.left-nav-item {
    padding: 10px 10px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

ul.left-nav-ul li.left-nav-item:hover {
    background-color: #fff;
    box-shadow: 2px 2px 5px 1px #666;
}

ul.left-nav-ul {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 1;
    height: auto;
}

ul.left-nav-ul.hide-element{
    height:0px;
    opacity:0;
    display:none;
}