{% from "category_helper.html" import render_categories %}
<div class="row">
	<div class="categories-column catlog-heading"><h4>Categories</h4></div>
	<div class="items-column align-right"><a href="{{url_for('catalog')}}">Home </a> / <a href="{{url_for('category_listings', category_name=format_name_for_url(get_category_name(category_item.category_id))) }}">{{get_category_name(category_item.category_id)}} </a> / {{category_item.name}}</div>
</div>
<div class="row">
	<div class="categories-column ">{{render_categories(parent_categories,sub_categories)}}</div>
	<div class="items-column">
		<div class="category-item-image">
		<img src="{% if category_item.pictureurl %}{{category_item.pictureurl}} {% else %} {{url_for('static', filename='images/img-not-found.png')}} {%endif%}" class="category-item-pic" />
		</div>
		
		<ul class="category-item-details">
			<li><h3>{{category_item.name}}</h3></li>
			<li><h4>Category :{{get_category_name(category_item.category_id)}}</h4></li>
			<li><h4>Price :<span class="item-price">{{category_item.pricerange}}</span></h4></li>
			<li>
				<h4>Active : {% if category_item.isActive%}<i class="fa fa-check text-success"></i>{%else%}<i class="fa fa-ban text-danger"></i>{%endif%}</h4>
					
				</li>
				<li><span class="bold">Created :</span>{{category_item.created.strftime("%b %d, %Y %H:%M")}}
				{% if category_item.lastupdated%}
					/ <span class="bold">Last Updated :</span>{{category_item.lastupdated.strftime("%b %d, %Y %H:%M")}}
				{% endif %}
			</li>
		</ul>
		<div style="clear:both;"></div>
		<div class="category-item-desc">
			<hr /><div class="bold"> Description</div>{{category_item.description}}
		</div>
		<div style="clear:both;"></div>
		<div class="category-item-actions align-right">
			{% if  isSomeoneLoggedIn() and  verifyOwnerLogin(category_item.user_id) %}
				<div class='width-half'>
				</div>
				<div class='width-quarter'>
					<a class='btn btn-primary ' href ='{{url_for("new_item", item_id=category_item.id)}}' ><i class="fa fa-pencil"></i> Edit</a>
				</div>
				<div class='width-quarter'>
					<a class='btn btn-danger ' href ='{{url_for("delete_item")}}' ><i class="fa fa-trash-o"></i> Delete</a>
				</div>
				
			{% endif %}
		</div>
	</div>
</div>