<div class="container item-form">
	<div class='row'><div class='col-md-6'><h3> Confirm Delete Action  </h3></div>
	<div class='col-md-6 align-right'>
		
		<a class='btn btn-primary' href ='{{url_for(type)}}' > Back </a>
		
	</div></div>
	<div class='row'>
		<div class='col-md-12'>
			<h3> Are You Sure You Want to delete - {{item.name}}</h3>
			{% if not type == 'items' %}
			<h3 class="del-cat-msg btn-warning"> If you are deleting a user or a category all items associated with it will be deleted. </h3>
			{% endif %}
		</div>
	</div>
	<div class='row'>
	<div class='col-md-5 align-right'>
		<form method="post" action='{{url_for("delete_item", delete_type=type, delete_key=item.id )}}' >
			<input type="hidden" value="{{generate_state()}}" id="state" name="state" />
			<input type="submit" class='btn btn-danger' value="Yes Delete">
		</form>
	</div>
	<div class='col-md-1 nav-end'>
		<div class="nav-end"></div>
	</div>
	<div class='col-md-1 align-right'>
		<a class='btn btn-default' href ='{{url_for(type)}}' > Cancel </a>
	</div>
	<div class='col-md-5'>
			<div class="nav-end"></div>
	</div>
</div>
</div>