<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
	</head>
	<body class="container-fluid">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-3">
						<div class="navbar-header">
							
							<a href='{{url_for("catalog")}}' class="navbar-brand">Sams Item Catalog</a>
						</div>
					</div>
					<div class="col-xs-4">
						<ul class="nav navbar-nav">
							<li>	<a href='{{url_for("catalog")}}' ><i class="fa fa-home"></i> Home</a></li>
							<li><a href='{{url_for("puppies")}}' class="navbar-nav">Puppies</a></li>
							<li><a href='{{url_for("users")}}' class="navbar-nav"><i class="fa fa-users"></i> Users</a></li>
							{% if SESSION.username  %}
								<li><a href='{{url_for("gdisconnect")}}' class="navbar-nav"><i class="fa fa-sign-out"></i> Logout</a></li>
							{% else %}
								<li><a href='{{url_for("login")}}' class="navbar-nav"><i class="fa fa-sign-in"></i> Login</a></li>
							{% endif %}
						</ul>
						
					</div>
					<div class="col-xs-3"></div>
					<div class="col-xs-2 user-profile">
						{% if SESSION.username  %}
							<ul class="nav navbar-nav">
								<li class="navbar-nav user-image">
									{% if SESSION.accountType == "ADMIN" %}
									<div class="adminuser btn btn-danger "><i class="fa fa-user-secret"></i></div>
									{% else %}
										{% if SESSION.picture  %}
											<img src="{{SESSION.picture}}" alt='{{SESSION.username}}'/>
										{% endif %}
									{% endif %}
								</li>
								<li class="navbar-nav user-name"> {{SESSION.username}}</li>
							</ul>
							
						{% endif %}
						
						
					</div>
				</div>
			</div>
		</nav>
		{% with messages = get_flashed_messages()%}
		{% if messages %}
			{% for message in messages %}
				<div class="row"><div class="col-xs-12 message" >
					
					{{message}}
				</div></div>
			{% endfor %}
		{% endif %}
	{% endwith %}